/* PERMISSÃ0 DE ACENTUAÇÕES NO SITE  */
@charset "UTF-8";

/* FONTES  */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/* PALETA DE CORES */
:root {
    --cor0: #ffffff;
    --cor1: #DD3333;
    --cor2: #1A1A1A;
    --cor3: #000000;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

/* CORPO */
body {
    font-family: "Source Sans Pro", Arial, Helvetica,sans-serif;
}

/* CONTAINER */
.container {
    max-width: 950px;
    margin: auto;
}

/* HEADER */
.cabecalho {
    background-color: var(--cor3);
}

/* POSICIONAMENTO IMG NAV INPUT */
.position-img-nav-input {
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-block: 0.3rem;
    left: 0;
    justify-content: center;
    gap: 5.5rem;
}

/* IMAGEM */
.img-box {}

.img-box img {
    width: 4rem;
}

/* MENU */
.menu {}

/* BOTÃO ABRIR MENU E FECHAR */
.position-img-nav-input .btn-open {
    display: none;
}

.position-img-nav-input .btn-open .hamburguer {
    display: none;
}

.menu .listaDeLinks {
    display: flex;
    list-style: none;
}

.menu .listaDeLinks .item {
    position: relative;
}

.menu .listaDeLinks .item a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 1.3em;
    padding: 10px;
    font-weight: bold;
}

.menu .listaDeLinks .item a:hover {
    color: var(--cor1);
    transition: all .5s;
}

/* CAIXA INPUT */
.input-box {
    position: relative;
}

.input-box .input-busca {
    padding: 0.5rem 1.7rem 0.5rem 0.6rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
}

.input-box svg {
    width: 1.3rem;
    position: absolute;
    left: 82.7%;
    top: 18%;
    cursor: pointer;
}

.cabecalho .titulo {
    padding: 9rem 0 5rem 0;
}

.cabecalho .titulo h1 {
    text-align: center;
    font-variant: small-caps;
    color: var(--cor0);
    font-size: 4em;
    font-family: 'Passion One', cursive;
}

/* CONTEÚDO PRINCIPAL */
main {}

/* SEÇÃO FUNDO ANIMES */
.secao-bg-titulo {
    padding: 20px;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 51%);
}

.secao-bg-titulo h2 {
    text-align: center;
    font-size: 1.8em;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
    font-variant: small-caps;
}

.secao-bg-titulo p {
    text-align: justify;
    font-size: 1.1em;
    line-height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.secao-bg-titulo p strong {} 

.secao-bg-wallpaper {
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#img1 {
    background-image: url(../imagens/wallpaper-animes.jpg);
}
#img2 {
    background-image: url(../imagens/wallpaper-anya.jpg);
}
#img3 {
    background-image: url(../imagens/wallpaper-levi.jpg);
}
#img4 {
    background-image: url(../imagens/wallpaper-mirio.jpg);
}
#img5 {
    background-image: url(../imagens/wallpaper-kozume.jpg);
}
#img6 {
    background-image: url(../imagens/wallpaper-naruto.jpg);
}

/* RODAPÉ */
footer {
    background-color: var(--cor3);
}

footer p {
    text-align: center;
    padding: 10px;
    color: white;
}

footer p a {
    color: white;
    text-decoration: none;
}
footer p a:hover {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 968px){

    .container {
        max-width: 800px;
        margin: auto;
    }

    /* BOTÃO ABRIR MENU E FECHAR */
    .position-img-nav-input .btn-open {
        display: block;
        border: transparent;
        background-color: transparent;
    }
    
    .position-img-nav-input .btn-open .hamburguer {
        display: block;
        border-top: 3px solid white;
        width: 2.1rem;
        transition: 0.3s;
    }

    .position-img-nav-input .btn-open .hamburguer::before {
        content: '';
        display: block;
        width: 2.1rem;
        border-top: 3px solid white;
        margin-top: 8px;
        transition: 0.3s;
    }

    .position-img-nav-input .btn-open .hamburguer::after {
        content: '';
        display: block;
        width: 2.1rem;
        border-top: 3px solid white;
        margin-top: 8px;
        transition: 0.3s;
    }
    
    /* CLASSE ATIVADA COM JAVASCRIPT */
    .menu .listaDeLinks.ativado {
        visibility: visible;
        height: calc(23rem - 5rem);
    }

    .position-img-nav-input .btn-open .hamburguer.ativado {
        border-top: transparent;
    }

    .position-img-nav-input .btn-open .hamburguer.ativado::before {
        transform: rotate(135deg);
    }
    
    .position-img-nav-input .btn-open .hamburguer.ativado::after {
        transform: rotate(-135deg);
        position: relative;
        top: -11px;
    }

    .position-img-nav-input {
        left: 0;
        justify-content: space-around;
        gap: 0;
    }

    /* LISTA DE LINKS */
    .menu .listaDeLinks {
        position: fixed;
        flex-direction: column;
        background-color: black;
        height: 0;
        right: 0;
        z-index: 2;
        top: 4.8rem;
        width: 100%;
        text-align: center;
        visibility: hidden;
        overflow-y: hidden;
        transition: .5s;
    }

    .menu .listaDeLinks .item a {
        display: block;
        width: 100%;
        border-top: 1px solid var(--cor3);
        border-bottom: 1px solid var(--cor3);
    }

    .menu .listaDeLinks .item a:hover {
        background-color: var(--cor1);
        color: white;
    }

    .input-box {
        position: relative;
    }
}

@media screen and (max-width: 500px) {

    .menu .listaDeLinks.ativado {
        height: calc(25.5rem - 5rem);
        padding-top: 3rem;
    }

    .input-box .input-busca.ativado{
        height: 2.3rem;
        padding: 0.6rem 1.7rem 0.6rem 0.6rem;
        visibility: visible;
    }
    
    .input-box .input-busca {
        border: none;
        position: fixed;
        left: 1rem;
        padding: 0;
        height: 0;
        z-index: 2;
        top: 5.2rem;
        width: 90%;
        visibility: hidden;
        overflow-y: hidden;
        transition: .5s;
    }
}