/* PERMISSÃ0 DE ACENTUAÇÕES NO SITE  */
@charset "UTF-8";

/* PALETA DE CORES */
:root {
    --cor0: #ffffff;
    --cor1: #DD3333;
    --cor2: #1A1A1A;
    --cor3: #000000;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    font-family: "Source Sans Pro", Arial, Helvetica,sans-serif;
}

/* CONTAINER */
.container {
    max-width: 950px;
    margin: auto;
}

/* HEADER */
.cabecalho {
    background-color: var(--cor3);
    padding: 10px 10px 90px 10px;
}

.cabecalho .imagemNavInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* IMAGEM */
.cabecalho .imagemNavInput .img-box {}

.cabecalho .imagemNavInput .img-box img {
    width: 70px;
}

/* NAV */
.cabecalho .imagemNavInput .respo {
    display: flex;
    align-items: center;
}
.cabecalho .imagemNavInput .menu {
    width: 100%;
    margin-left: 20px;
}

.cabecalho .imagemNavInput .menu button {
    border: none;
    background-color: transparent;
    font-size: 36px;
    color: white;
    position: absolute;
    right: 8%;
    top: 3%;
    display: none;
}

.cabecalho .imagemNavInput .menu .listaDeLinks {
    display: flex;
    list-style-type: none;
}

.cabecalho .imagemNavInput .menu .listaDeLinks .item {}

.cabecalho .imagemNavInput .menu .listaDeLinks .item a {
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    color: var(--cor0);
    font-weight: bold;
}


.cabecalho .imagemNavInput .menu .listaDeLinks .item > a:hover {
    color: var(--cor1);
    background-color: var(--cor2);
    border-radius: 5px;
    transition: .1s;
}

/* SUB MENU */
.cabecalho .imagemNavInput .menu .listaDeLinks .item:hover .subMenu {
    display: block;
}

.cabecalho .imagemNavInput .menu .listaDeLinks .item .subMenu {
    position: absolute; 
    display: none;
}

.cabecalho .imagemNavInput .menu .listaDeLinks .item .subMenu .listaSubMenu {
    list-style: none;
    background-color: var(--cor2);
}

.cabecalho .imagemNavInput .menu .listaDeLinks .item .subMenu .listaSubMenu .itemSubMenu {
    display: inline-block;
    padding: 16px 14px 9px 6px;
}
.cabecalho .imagemNavInput .menu .listaDeLinks .item .subMenu .listaSubMenu .itemSubMenu > a:hover {
    color: var(--cor1);
}

/* CAIXA INPUT */
.cabecalho .imagemNavInput .input-box {
    position: relative;
    width: 323px;
    padding: 0px 65px;
}

.cabecalho .imagemNavInput .input-box input {
    border: none;
    padding: 10px 64px 10px 10px;
    border-radius: 12px;
    background-color: var(--cor2);
    color: var(--cor0);
}

.cabecalho .imagemNavInput .input-box input::placeholder {
    color: var(--cor0);
}

.cabecalho .imagemNavInput .input-box svg {
    width: 6%;
    position: absolute;
    color: var(--cor0);
    top: 27%;
    cursor: pointer;
    left: 80%;
}

.cabecalho .titulo {
    margin-top: 115px;
    text-align: center;
}

.cabecalho .titulo h1 {
    color: white;
}

/* CONTEÚDO PRINCIPAL */
main {}

/* SEÇÃO FUNDO ANIMES */
main .secao-bg-titulo {
    padding: 20px;
}

main .secao-bg-titulo h2 {
    text-align: center;
    font-size: 1.8em;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

main .secao-bg-titulo p {
    text-align: justify;
    font-size: 1.1em;
    line-height: 30px;
} 

main .secao-bg-titulo p strong {} 

main .secao-bg-wallpaper {
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
}

main .secao-bg-wallpaper:nth-of-type(2) {
    background-image: url('../imagens/wallpaper-animes.jpg');
    height: 400px;
}

main .secao-bg-wallpaper:nth-of-type(4) {
        background-image: url('../imagens/wallpaper-anya.jpg');
}

main .secao-bg-wallpaper:nth-of-type(6) {
        background-image: url('../imagens/wallpaper-levi.jpg');
}

main .secao-bg-wallpaper:nth-of-type(8) {
        background-image: url('../imagens/wallpaper-mirio.jpg');
}

main .secao-bg-wallpaper:nth-of-type(10) {
        background-image: url('../imagens/wallpaper-kozume.jpg');
}

main .secao-bg-wallpaper:nth-of-type(12) {
        background-image: url('../imagens/wallpaper-naruto.jpg');
}


/* RODAPÉ */
footer {
    background-color: var(--cor3);
}

footer p {
    text-align: center;
    padding: 10px;
    color: white;
}

footer p a {
    color: white;
    text-decoration: none;
}
footer p a:hover {
    color: white;
}

@media (max-width: 840px) {

    .imagemNavInput {
        display: flex;
        flex-direction: column;
    }

    .img-box {
        margin-right: 80%;
        margin-bottom: 3%;
    }

    #botao {
        display: flex;
    }

}

@media (max-width: 770px) {

    .respo {
        width: 574px;
        background: red;
        flex-direction: column;
        padding-bottom: 1%;
        padding-top: 3%;
        margin: auto;

    }

    .menu {
        width: 574px
    }

    .listaDeLinks {
        flex-direction: column;
        padding: 0px;
        /* margin: 0px; */
        /* margin-bottom: 1%;
        margin-top: 3%; */
    }

    .item {
        margin-bottom: 5%;
        text-align: center;
    }


}